body {
  background-color: #f8f8f8;
  color: #1b1b1b;
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  max-width: 660px;
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  min-width: 768px;
  height: 120px;
  margin-top: 60px;
}

h1 {
  font-size: 64px;
  margin: 10px 0px;
}

h2 {
  transition: all 0.25s ease;
}

h3 {
  margin: 8px 0px 0px 0px;
}

#randomNumber {
  background-color: #1b1b1b;
  border-radius: 12px;
  color: #fff;
  padding: 20px;
  margin-top: 4px;
  width: 100px;
  text-align: center;
}

#randomNumber h2 {
  font-size: 48px;
  position: relative;
  margin: 0;
}

#board {
  color: white;
  width: 100%;
  margin-bottom: 20px;
  border: 6px solid #1b1b1b;
  border-radius: 8px;
}

.numberCell {
  display: inline-block;
  color: #fff;
  background-color: #181818;
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.15s ease;
  pointer: mouse;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 30px;
  margin: 5px 5px;
}

.selected {
  background-color: #40ff901f;
}

#randomiseButton {
  width: 180px;
  color: #fff;
  text-shadow: #1b1b1b34 1px 1px 5px;
  border: none;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  padding: 20px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 40px;
  transition: all 0.25s ease;
}

#randomiseButton:hover {
  width: 190px;
  color: #1b1b1b;
  transition: all 0.25s ease;
  background-color: #ff8a50;
  background-image: linear-gradient(62deg, #ff8a50 0%, #ffc63a 100%);
}

.red {
  background-color: red;
  display: inline-block;
  color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.15s ease;
  pointer: mouse;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 30px;
  margin: 5px 5px;
}
